<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @connection.user_id %>
</p>

<p>
  <b>Num connections:</b>
  <%= @connection.num_connections %>
</p>

<p>
  <b>Read at:</b>
  <%= @connection.read_at %>
</p>


<%= link_to 'Edit', edit_connection_path(@connection) %> |
<%= link_to 'Back', connections_path %>
